<%- include("partials/header"); -%>




<%   results.forEach(function(result){ %>

<h1><%= result.name%></h1>
<p><%= result.content.substring(0,100) + "... "%> <a href="/posts/<%=result.post_name %>">Read More</a></p>
<%  });  %>





<%- include("partials/footer"); -%>